html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: white;

    margin: 0 0;
}
.wraper{
    display: flex;
    padding: 20px;

    align-items: center;
    justify-content: center;
}
.information{
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.aboutPage{
    background-attachment: fixed;
    background-image:url("ccc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.designsPage{
    background-attachment: fixed;
    background-image:url("cccc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.mainPage{
    background-attachment: fixed;
    background-image:url("c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.widget{
    height: auto;
    width: 60%;
    max-width: 900px;
    min-width: 100px;
    background-image: linear-gradient(to right bottom,rgba(60, 60, 60, 0.8),rgba(60, 60, 60, 0.2));
    backdrop-filter: blur(8px);
    border-radius: 16px;
}
.profile{
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.profileDesc{
    display:flex;
}
.profileWrap{
    display: inline-flex;
}
.content{
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    color: #999;
}
.start{
    display: flex;
    height: 100vh;
    width: 100%;
}
.welcome{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contentTitle{
    display: flex;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #999;
    animation: 2s fadeInLeft;
}
.sidePanelO{
    height: 100vh;
    width: 15%;
    position: absolute;
    left: 0%;
    background-image: linear-gradient(to right bottom,rgba(20, 20, 20, 0.8),rgba(20, 20, 20, 0.2));
    backdrop-filter: blur(8px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    animation: 0.5s apear;
}
.sidePanelC{
    height: 100vh;
    width: 15%;
    position: absolute;
    left: -15%;
    background-image: linear-gradient(to right bottom,rgba(20, 20, 20, 0.8),rgba(20, 20, 20, 0.2));
    backdrop-filter: blur(8px);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    animation: 0.5s dissapear;
}
@keyframes dissapear {
    0%{
        left: 0%;
    }
    100%{
        left: -15%;
    }
}
@keyframes apear {
    0%{
        left: -15%;
    }
    100%{
        left: 0%;
    }
}
.panelWidgetS{
    display: flex;
    width: 100%;
    background-color: rgba(30, 30, 30, 0);
    height: auto;
    /* backdrop-filter: blur(8px); */
    border-top-right-radius: 16px;
    transition: 0.5s;
    cursor:pointer;
    user-select: none;
    
    
}
.panelWidgetN{
    display: flex;
    width: 100%;
    background-color: rgba(30, 30, 30, 0);
    height: auto;
    /* backdrop-filter: blur(8px); */
    transition: 0.5s;
    cursor:pointer;
    user-select: none;    
}
a{
    text-decoration: none;
}
th{
    min-width: 400px;
}
.panelWidgetS:hover, .panelWidgetN:hover{
    background-color: rgba(30, 30, 30, 1);
}
.player{
    padding: 40px;
    display: flex;
    justify-content: center;
    width: 60%;
    background-image: linear-gradient(to right bottom,rgba(60, 60, 60, 0.8),rgba(60, 60, 60, 0.2));
    backdrop-filter: blur(8px);
    border-radius: 16px;
}
.playerWrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos{
    width: 100%;
    border-radius: 16px;
}
@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-200px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }   